body {
    font-family: system-ui;
    color: black;
    text-align: center;
}
  
#btnsend {
    color: black;
    font-size: 20px;   
}
  
p {
    color: black;
    font-size: 26px;
}

select {
        color: black;
        font-size: 20px;
}
  
* {
    margin:0; padding:0;
}
  
header {
    height: 50px;
    width: 100%;
    padding: 15px 0;
    background-color: #337079;
    color: white;
}

header .headline{
      line-height: 50px;
      float: left;
      font-size: 30px;
      margin-left: 30px;
}
  
.nav-list {
      line-height: 65px;
      float: left;
      margin-left: 900px;
      list-style: none;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}